.admin-login {
  display: grid;
  gap: 10px;
  width: 500px;
  margin: 0 auto;
}

.admin-login > input {
  padding: 10px;
  border-radius: 5px;
}

.admin-login > button {
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background: #EBE8E8;
}

.logout-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 10px;
}

.add-participant-container,
.change-password-container,
.change-time-container,
.election-data,
.add-executor-container {
  margin: 10px 0;
  margin-bottom: 30px;
  display: grid;
  gap: 10px;
}

.add-participant-container > input,
.add-executor-container > input,
.change-password-container > input,
.change-time-container > input,
.add-executor-container select {
  padding: 10px;
  border-radius: 5px;
}

.add-participant-container > button,
.add-executor-container > button,
.change-password-container > button,
.change-time-container > button,
.add-participant-container > .add-leader-container > button {
padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  background: #EBE8E8;
}

.add-participant-container > .add-leader-container {
  margin: 10px 0;
}

.add-participant-container > .add-leader-container > .leaders {
  display: flex;
  gap: 0 10px;
  flex-wrap: wrap;
}

.add-participant-container > .add-leader-container > .leaders  > * {
  color: white;
  background: #508a9f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-executor-container select {
  text-transform: uppercase;
}

.executor-list {
  display: grid;
  grid-gap: 10px;
}

.executor-list div {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}